---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ namespace_name }}
  namespace: {{ namespace_name }}
  labels:
    app: {{ app_name }}
spec:
  replicas: {{ replics_count }}
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      containers:
      - name: {{ container_name }}
        image: {{ container_image }}
        ports:
        - containerPort: {{ container_port }}
        readinessProbe:
          httpGet:
            path: /
            port: {{ container_listening_port }}
          initialDelaySeconds: 5
          periodSeconds: 5
          successThreshold: 1
---
apiVersion: v1
kind: Service
metadata:
    name: {{ service_name }}
    namespace: {{ namespace_name }}
spec:
    selector:
      app: {{ app_name }}
    ports:
    - name: http
      protocol: TCP
      port: {{ service_port }} # puerto en el que escucha el servicio
      targetPort: {{ container_listening_port }} # puerto en el que escucha el contenedor